.signup-complete.inner-container.small-container
  .signup-complete-heading
    h2= t('signup.signup-complete.title')
    p= t('signup.signup-complete.description')
  .signup-complete-form(data-signup-complete-form)