.signup-page
  header.app-header
    .user-nav
      a[href="/signup"]
        display none

  .help-block
    text-align center

    p
      margin 0

    a
      font-weight normal
      padding 0 .3em

.signup-complete-page
  .signup-complete
    max-width 360px

  .profile-settings
    .heading,
    .profile-locale,
    .profile-picture
      display none