.signup-page
  header.app-header
    .user-nav
      a[href="/signup"]
        display none

  .help-block
    text-align center

    p
      margin 0

    a
      font-weight normal
      padding 0 .3em