.signin-container.inner-container.small-container
  .title-page
    .circle
      i.icon-signin
    h1 #{t('signin.login-to') + ' ' + t('common.app-name')}

  .signin-forms(data-signin-forms)

  .signup
    span=t('signin.dont-have-account')
    a(href='/signup') #{t('signin.action.signup')}